<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
    <!--解析为对应的Configuration类-->
    
    <!--全局变量-->
    <properties resource="mybatis/config.properties">
        <property name="GLOBAL_VAR" value="LYF"/>
        <property name="username" value="xxxxx"/>
    </properties>
    
<!--    <settings>-->
<!--        <setting name="" value=""/>-->
<!--    </settings>-->
<!--    <settings>-->
<!--        <setting name="cache" value="en"/>-->
<!--    </settings>-->
    
    <settings>
        <setting name="cacheEnabled" value="true"/>
    </settings>
    
    <typeAliases>
<!--        <package name="org.example.demo"/>-->
<!--        <typeAlias alias="UserDO" type="org.example.demo.common.model.UserDO"/>-->
        <package name="org.example.demo.common.model"/>
    </typeAliases>
    
<!--    <plugins>-->
<!--        <plugin interceptor="org.example.demo.samples.myabtis.plugin.MySimplePlugin">-->
<!--            <property name="test" value="这是一个测试插件：${GLOBAL_VAR} ::: ${username}"/>-->
<!--        </plugin>-->
<!--    -->
<!--        <plugin interceptor="org.example.demo.samples.myabtis.plugin.MySamplePlugin2">-->
<!--            <property name="test" value="这是一个测试插件2：${GLOBAL_VAR} ::: ${username}"/>-->
<!--        </plugin>-->
<!--    </plugins>-->
    
    <environments default="development">
        <environment id="development">
            <!--事务管理-->
            <transactionManager type="JDBC"/>
            <!--数据源的概念-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/mybatis_practice?serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="123321"/>
            </dataSource>
        </environment>
    </environments>
    
    <!--映射Mapper文件-->
    <mappers>
        <mapper resource="mybatis/mapper/UserMapper.xml"/>
    </mappers>
    

</configuration>